<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <!--Import CSS bootstrap-->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <img src="/images/logo-medilabo.webp" alt="Logo medilabo" class="col-6">
        </div>
        <div class="row text-center mt-5">
            <div class="col ">
                <h1>Something went wrong</h1>
                <p>We are sorry, but an unexpected error occurred.</p>
                <a href="/" class="btn btn-primary">Go to Home</a>
            </div>
        </div>
    </div>

    <!--Import bootstrap JS-->
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>