<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Liste des patients</h1>
        <div class="row">
            <div class="col-md-8 mx-auto mt-5">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Lastname</th>
                        <th>Firstname</th>
                        <th>Date Of Birth</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Telephone Number</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patient : ${patients}">
                        <td th:text="${patient.id}"></td>
                        <td th:text="${patient.lastName}"></td>
                        <td th:text="${patient.firstName}"></td>
                        <td th:text="${patient.dateOfBirth}"></td>
                        <td th:text="${patient.gender}"></td>
                        <td th:text="${patient.address}"></td>
                        <td th:text="${patient.telephoneNumber}"></td>
                        <td>
                            <a th:href="@{|/edit-patient/${patient.id}|}">Update</a>
                            <a th:href="@{|/delete-patient/${patient.id}|}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>