<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note details</title>
    <!--Import CSS bootstrap-->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row text-end mt-3">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-secondary">Logout</button>
            </form>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-4">
                <img src="/images/logo-medilabo.webp" alt="Logo medilabo" class="w-100">
            </div>
            <div class="col-auto">
                <h1 th:text="'Note details : ' + ${note.patientName}"></h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-8 mt-3 mx-auto">
                <div class="row text-start">
                    <div>
                        <a th:href="@{|/note/list/${note.patientId}|}" class="btn btn-primary w-auto mb-4">Return to note list</a>
                    </div>
                    <div class="mb-3">
                        <h2 class="fs-3" th:text="'Note from : ' + ${note.creationDateTime.toLocalDate()} + ' at ' + ${note.creationDateTime.toLocalTime().withSecond(0)}"></h2>
                        <label for="noteContent" class="form-label">Note content :</label>
                        <textarea type="text" class="form-control" rows="15" th:text="${note.noteContent}" id="noteContent" name="noteContent" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>