<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of note</title>
    <!--Import CSS bootstrap-->
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <div class="row text-end mt-3">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-secondary">Logout</button>
            </form>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-4">
                <img src="/images/logo-medilabo.webp" alt="Logo medilabo" class="w-100">
            </div>
            <div class="col-auto">
                <h1 th:text="'Note list for : ' + ${patientFirstName} + ' ' + ${patientLastName}">Note list for : </h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col mt-3">
                <div class="row justify-content-between align-items-center mb-4">
                    <div class="col p-0">
                        <a th:href="@{|/note/add/${patientId}|}" class="btn btn-primary w-auto">Add a note</a>
                        <a href="/patient/list" class="btn btn-success w-auto ms-3">Back to patients</a>
                    </div>
                    <div class="col-auto">
                        <p th:text="'Risk level : ' + ${riskLevel.level}" class="m-0"></p>
                    </div>
                    <div class="col p-0 text-end">
                        <p class="fs-5 m-0" th:text="'Total number of notes : ' + ${notes.size()}"></p>
                    </div>
                </div>
                <div class="row text-center">
                    <table class="table table-bordered align-middle">
                        <thead>
                        <tr>
                            <th>Nbr</th>
                            <th>Creation date-time</th>
                            <th>Patient name</th>
                            <th>Note content</th>
                            <th>Note actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${notes.isEmpty()}">
                            <td colspan="5">No note available.</td>
                        </tr>
                        <tr th:each="note, iterator : ${notes}">
                            <td th:text="${iterator.index + 1}"></td>
                            <td>
                                <span th:text="${note.creationDateTime.toLocalDate()}"></span>
                                <span th:text="${note.creationDateTime.toLocalTime().withSecond(0).withNano(0)}"></span>
                            </td>
                            <td th:text="${note.patientName}"></td>
                            <td class="col-6">
                                <label for="noteContent" class="visually-hidden"></label>
                                <textarea type="text" rows="3" th:text="${note.noteContent}" class="w-100 form-control" id="noteContent" name="noteContent" readonly></textarea>
                            </td>
                            <td class="fs-3">
                                <a th:href="@{|/note/${note.id}|}" class="text-decoration-none me-3">
                                    <i class="bi bi-search text-secondary"></i>
                                </a>
                                <a th:href="@{|/note/update/${note.id}|}" class="text-decoration-none me-3">
                                    <i class="bi bi-pencil-fill text-primary"></i>
                                </a>
                                <a th:href="@{|/note/delete/${note.id}|}" class="text-decoration-none">
                                    <i class="bi bi-trash-fill text-danger"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>